body{
    background: linear-gradient(to left, rgba(255, 0, 0, 0.986),  black 50%);
}
.block{
    display: flex;
    align-items: center;
    border: 2px solid yellow;
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
height: 60px;
border-radius: 20px;
    justify-content: space-around;
}



.txt{
    text-decoration: none;
    font-size: 40px;
    font-weight: 650;
    color: whitesmoke;
}
.txt1{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.99986);
    font-size: 20px;
    font-weight: 35px;
    margin-left: 20px;
}
.bt{
    padding: 10px;
    height: 30px;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    margin-left: 20px;
    border-radius: 14px;
}